.join {
    background-color: #fff;
    height: 100vh;
}

.join__container {
    display: grid;
    grid-template-columns: 50% 50%;
    height: 100%;
}

.join__container .left {
    padding: 20px;
}

.join__container .left > div {
    background-color: var(--primary-color);
    height: 100%;
    border-radius: 20px;
}


.join__container .right {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.form__join {
    width: 90%;
    margin: 0 auto;
}

.form__join>.titles .title__main {
    font-size: 2rem;
    font-weight: 700;
}



.form__join>.titles .title__warning {
    display: flex;
    margin-top: 10px;

}

.form__join>.titles .title__warning > p {
    padding: 10px;
    background-color: #709ed042;
    border-radius: 3px;
    color: #4a7eb4;

}


.form__join>.form__join_container {
    padding: 30px 0;
    border-radius: 10px;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(1, 1fr);
}

.form__join_container > .row__one {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
}


.form__join > .btn {
    width: 100%;
}

.form__join .btn .btn__create {
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    padding: 10px 10px;
    width: 40%;
    margin: 0 auto;
    border-radius: 10px;
    color: #fff;
    border: none;
    cursor: pointer;
}

.logins {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 25px auto 0 auto;
}

.logins > div {
    display: flex;
    background-color: #709ed023;
    padding: 10px;
    color: #2b2b2b;
    border-radius: 5px;
}


.title_logo {
    color: var(--primary-color);
    font-size: 1.8rem;
    text-align: center;
}

.form__join-finally {
    width: 90%;
    margin: 0 auto;
}

.form__join-finally > .title {
    font-size: 2rem;
    color: var(--black-color-5);
}

.form__join-finally .container__btn {

}

.form__join-finally .container__btn .btn__create-join {
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    padding: 10px 10px;
    width: 40%;
    margin: 0 auto;
    border-radius: 10px;
    color: #fff;
    border: none;
    cursor: pointer;
}

.form__join_container .inputs__general {
    border: 1.5px solid #dee6ee;
    border-radius: 10px;
    background-color: #fff;
}

@media screen and (max-width: 768px) {

    

    .join__container .right {
        display: block;
        justify-content: center;
   
    }

    .join__container .right > div {
        display: flex;
        height: 100%;
        position: relative;
   
    }

    .form__join>.form__join_container {
        padding: 30px 0;
        border-radius: 10px;
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(2, 1fr);
    }
    
    .form__join_container > .row__one {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 20px;
    }

    .form__join-finally .container__btn .btn__create-join {
        background-color: var(--primary-color);
        display: flex;
        justify-content: center;
        padding: 10px 10px;
        width: 100%;
        margin: 0 auto;
        border-radius: 10px;
        color: #fff;
        border: none;
        cursor: pointer;
    }
    

    .form__join {
        /* width: 100%; */
        margin: auto;
    }

    .form__join-finally {
        margin: auto;
    }

    .form__join-finally > form > div {
        margin: 20px 0;
    }
    .btn-back {
        background-color: var(--primary-color);
        position: absolute;
        top: 20px;
        display: flex;
        justify-content: center;
        padding: 10px 10px;
        width: 40%;
        margin: 0 auto;
        border-radius: 10px;
        color: #fff;
        border: none;
        cursor: pointer;
    }
    

    .form__join  >.titles .title__warning > p {
        /* display: none; */
        background-color: transparent;
        color: var(--black-color-5);
        padding: 0;
    
    }
    

    .join__container {
        display: grid;
        grid-template-columns: 100%;
        height: 100%;
    }

    .join__container .left {
        display: none;
    }

    .form__join > .form__join_container {
        padding: 0;
        border-radius: 10px;
        display: grid;
        gap: 20px;
        margin: 20px 0;
        grid-template-columns: 1fr;
    }

 

    .form__join > .form__join .btn {
        width: 100%;
    }

    .form__join .btn .btn__create {
        margin: 20px 0;
        width: 100%;
    }

    

    .form__join  >.titles .title__main {
        /* font-size: 2.2rem;
        font-weight: 500; */
        margin-bottom: 30px;
       
    }

    .logins > div > p {
        display: none;
    }

    .logins {
        display: flex;
        justify-content: center;
    }

    .logins > div {
        margin: 0 10px;
        background-color: transparent;
    }

    .h-line {
        border-bottom: 1.5px solid #dee6ee;
        width: 90%;
        margin: 0 auto;
        position: relative;
    }

    .h-line > div {
        position: absolute;
        display: flex;
        justify-content: center;
        width: 100%;
        top: -18px;
        
    }

    .h-line > div > p {
        background-color: #fff;
        padding: 5px 10px;
        
    }
    
    
}

